<h2>My Weapons</h2>

<div>
  <label for="new-weapon">Weapon name: </label>
  <input id="new-weapon" #weaponName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(weaponName.value); weaponName.value=''">
    Add Weapon
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let weapon of weapons">
    <a routerLink="/weapondetail/{{weapon.id}}">
      <span class="badge">{{weapon.id}}</span> {{weapon.name}}
    </a>
      <button type="button" class="delete" title="delete weapon"
  (click)="delete(weapon)">x</button>
      
  </li>
</ul>
<!-- alt bileşene veri transferi için -->
<!-- <app-weapon-detail [weapon]="selectedWeapon></app-weapon-detail> -->

